@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* add border and padding to the element without changing the size */
}

body {
    height: 100vh;     /* takes 100% of the screen space */
    background: aqua;
    width: fit-content;
    

}

a {
    color: #e9ecef;
    text-decoration: none;
}

a:hover {
    color: #e9ecef;
}
/* ------------------------------------------------------ heading */

#heading-style {
    padding-bottom: 50px;
    
}




.btn-options {
    font-family: "Rubik", sans-serif;
    font-size: small;
    background-color: aquamarine;
    color: blue;
 }

 .game-title {
     background-color: cornflowerblue;
     width: 50%;

 }

 h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: blueviolet;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding-top: 20px;
      
 }

/* ------------------------------------------------------ dropdown */

.dropdown {
    position: absolute;
    padding-top: 30px;
    padding-left: 20px;
}

#instructionsmodal {
    color: #fafafa;
    
}

div.modal-body {
    background-color: rgb(95, 18, 168);
}

div.modal-header {
    background-color: rgb(95, 18, 168);
    text-align: center;
    
}

div.modal-footer {
    background-color: rgb(95, 18, 168);
    text-align: center;
    
}




 a.play-btn {
     color: #fafafa;
     display: inline;
     background-color: blueviolet;
     display: flow-root;
    
 }

 a.play-btn:focus {
     color:rgba(64, 224, 208, 0.247);
     
 }

 .btn-info:hover {
     color: aqua;
 }

/* ---------------------------------------------Level Choices */

.level-container {
    width:fit-content;
    padding-top: 20px;
    padding-bottom: 20px;

}

.card-img-top {
    width: 100%;
    height: 150px;
    margin: 0 auto;    
}

.level-option1,
.level-option2,
.level-option3 {
    padding: 5px;
    width: 30%;
    height: 230px;
    float: left;
    border-radius: 5px;
    border: 4px solid #555555;
    margin: 1.5%;
    display: inline-flexbox;
    
 }

 .card-title {
    text-align: center;
    font-size: medium;
}

.btn {

     font-family: "Rubik", sans-serif;
     text-transform: capitalize;
     letter-spacing: 1.2px;
     color: white;
   
 }

.btn:focus {
    outline: none;
}








/* ---------------------------------------------Game Cards */

/*img {
    width: 60px;
}*/

.pairs-gameboard {
    border: 4px solid turquoise;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 50px;
    perspective: 1000px;   /* to allow the card to flip 3d */
    
}

.card-front-face, 
.card-back-face {
    border: 4px solid rgba(64, 224, 208, 0.247);
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 7px;
    background-color: aquamarine;
    backface-visibility: hidden;
    
    

}

.card-front-face {
    transform: rotateY(180deg);
}

    
.cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
    border: 3px solid navy;
}

.cards:active {
    transform: scale(.95);
    transition: .3s;

}

.cards.flip {
    transform: rotateY(180deg);

}
/* ---------------------------------------------timer */

div#gametimer {
    font-size: xx-large;
    font-family: 'Eczar' sans-serif;
    color:rgba(64, 224, 208, 0.247);
    display: block;
    text-align: center;
}


/* ---------------------------------------------contact-form */

#game-form {

    margin: 0 auto;

}

.contact-image {
    
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}




/* ---------------------------------------------Media Queries */

@media (max-width: 320px) {

   
.level-option1,
.level-option2, 
.level-option3 {
    padding: 5px;
    width: 30%;
    height: 200px;
    float: left;
    border-radius: 5px;
    border: 2px solid #555555;
    margin: 5px;

    
 }


.card-img-top {
    padding: 10px;
    width: 100%;
    height: 100px;
}

.card-title {
    text-align: center;
    font-size: small;
}

}